__pycache__/ 
*.pyc 
*.pyo 
*.pyd 
.Python 
env/ 
venv/ 
.env 
.venv 
*.log 
local_settings.py 
db.sqlite3 
db.sqlite3-journal 
node_modules/ 
npm-debug.log 
yarn-debug.log* 
yarn-error.log* 
.npm 
.yarn-integrity 
.env 
.vscode/ 
.idea/ 
.DS_Store 
Thumbs.db 
backend/.env
